@import '../variables/setVariables';

.nav-container {
  height: 14vh;
  background-color: $pr-orange-red;
  border-bottom: 8px solid white;
  .top-bar {
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 5px;
    .logo {
      font-family: 'Pacifico';
      font-size: 18px;
      font-weight: lighter;
      margin-left: 5px;
      text-shadow: 0px 1px 1px #4d4d4d;
    }
    .userTag {
      font-size: 16px;
      margin-right: 5px;
      margin-top: 1px;
      text-shadow: 0px 1px 1px #4d4d4d;
      i {
        margin: 0 5px;
        color: $pr-green-signal;
      }
    }
  }
  .nav-bar {
    ul {
      padding: 5px 2px;
      li {
        a {
          padding: 3px 6px;
          margin: 5px 5px 0px 5px;
          border: 2px solid white;
          color: $pr-orange-red;
          background-color: white;
          font-size: 14px;
          font-weight: bold;
          text-align: center;
          -webkit-box-shadow: inset 0px 0px 5px -1px rgba(0,0,0,0.75);
          -moz-box-shadow: inset 0px 0px 5px -1px rgba(0,0,0,0.75);
          box-shadow: inset 0px 0px 5px -1px rgba(0,0,0,0.75);
          i {
            font-size: 16px;
          }
        }
        a:hover {
          color: white;
          background-color: $pr-orange-red;
          text-shadow: 0px 1px 1px #4d4d4d;
        }
      }
    }
  }
  .nav-bar-logged {
    ul {
      li {
        a {
          width: 40px;
          font-size: 16px;
          margin: 0 10px;
        }
        a:hover {
        }
      }
    }
  }

}
