.nav-container {
  height: 14vh;
  background-color: #F03C02;
  border-bottom: 8px solid white; }
  .nav-container .top-bar {
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 5px; }
    .nav-container .top-bar .logo {
      font-family: 'Pacifico';
      font-size: 18px;
      font-weight: lighter;
      margin-left: 5px;
      text-shadow: 0px 1px 1px #4d4d4d; }
    .nav-container .top-bar .userTag {
      font-size: 16px;
      margin-right: 5px;
      margin-top: 1px;
      text-shadow: 0px 1px 1px #4d4d4d; }
      .nav-container .top-bar .userTag i {
        margin: 0 5px;
        color: #BEED80; }
  .nav-container .nav-bar ul {
    padding: 5px 2px; }
    .nav-container .nav-bar ul li a {
      padding: 3px 6px;
      margin: 5px 5px 0px 5px;
      border: 2px solid white;
      color: #F03C02;
      background-color: white;
      font-size: 14px;
      font-weight: bold;
      text-align: center; }
      .nav-container .nav-bar ul li a i {
        font-size: 16px; }
    .nav-container .nav-bar ul li a:hover {
      color: white;
      background-color: #F03C02;
      text-shadow: 0px 1px 1px #4d4d4d; }
  .nav-container .nav-bar-logged ul li a {
    width: 40px;
    font-size: 16px;
    margin: 0 10px; }
nt-size: 14px;
      font-weight: bold;
      text-align: center; }
      .nav-container .nav-bar ul li a i {
        font-size: 16px; }
    .nav-container .nav-bar ul li a:hover {
      color: white;
      background-color: #F03C02;
      text-shadow: 0px 1px 1px #4d4d4d; }
  .nav-container .nav-bar-logged ul li a {
    width: 40px;
    font-size: 16px;
    margin: 0 10px; }

/* --------------------- map-container --------------------------------*/
.map-container {
  height: 86vh;
  width: 100%;
  position: relative; }
  .map-container .map {
    height: 86vh;
    width: 100%;
    z-index: 5; }

.text-overlay {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 50%;
  transform: translateY(-70%);
  transform: translateX(-50%);
  z-index: 10; }
  .text-overlay strong {
    font-family: 'Pacifico';
    color: #F03C02;
    font-size: 50px;
    text-shadow: 0px 1px 1px #FFF; }
  .text-overlay small {
    color: #F03C02;
    font-weight: bold;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 1px 1px #FFF; }

/* --------------------- welcome --------------------------------*/
