<div class="container contacts-container">
  <div class="col-sm-6">
    <h4>
      Add contacts to your contact list
    </h4>
    <!-- <form class="" action="/contacts/{{$rootScope.username}}" method="post"> -->
    <form ng-submit="ctrl.addContact($event)">
      <div class="input-group">
        <input ng-model="ctrl.contactName" type="text" class="form-control" name="contactName" placeholder="contact username" aria-label="contact username" autofocus="autofocus">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="submit">Add</button>
        </span>
      </div>
    </form>
  </div>
  <div class="col-sm-6">
    <h2>
    Your contacts
  </h2>
    <div class="contact-list-container">
      <div class="panel panel-default">
        <ul class="list-group">
          <a class="list-group-item" ng-repeat="contact in ctrl.contacts">{{contact.username}}<button class="remove btn btn-danger pull-right" ng-click="ctrl.removeContact($event, contact.id, contact.username)"><i class="fa fa-remove"></i></button></a>
        </ul>
      </div>
    </div>
  </div>
