.toast {
  font-weight: bold;
  font-size: 18px;
}

.toast-top-center {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
